@use "@picocss/pico/scss/pico" with (
  $modules: (
    "themes/default": false
  )
);
@use "themes/_default.scss";

body {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: var(--pico-background-image);
}

// Config

#top-nav {
  display: block;
}

.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:active),
#settings-menu-checkbox:not(:checked)
  ~ #settings-menu:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.hidden {
  display: none;
}

body {
  min-height: 100vh;
}

header {
  padding-top: 1rem;
}

.svg-inline--fa {
  display: inline-block;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}

.hamburger {
  cursor: pointer;
  display: block;
  float: right;
  padding: 40px 20px;
}

#settings-menu-checkbox:not(:checked)
  ~ #settings-menu:not(:focus):not(:active) {
  transform: scaleY(0);
}

#settings-menu {
  transition: transform var(--transition);
}

option,
optgroup {
  background: var(--background-color);
}

@media (min-width: 576px) {
  .pfpfig {
    max-width: 256px;
  }
}

@media (max-width: 576px) {
  .pfpfig {
    max-width: 25%;
  }
  .pfpfig > picture > img {
    width: 100%;
  }
  .pfpfig > figcaption {
    display: none;
  }
}

.pfpfig {
  margin-bottom: 1rem;
  float: left;
  margin-right: 1rem;
}

// Mixin itself
@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

.clearfix {
  @include clearfix();
}

article {
  background-color: var(--background-translucent);
  border: 1px solid var(--article-border-color);
  box-shadow: 0 1px 5px 0 var(--background-translucent);
  padding: 1rem;
}

@media (prefers-contrast: no-preference) {
  [data-theme="light"],
  :root:not([data-theme="sunset"]):not([data-theme="black"]):not(
      [data-theme="white"]
    ) {
    @import "_prism.scss";
  }
  @media screen and (prefers-color-scheme: dark) {
    :root:not([data-theme]):not([data-theme]):not([data-theme]):not(
        [data-theme]
      ) {
      @import "_prism-dark.scss";
    }
    [data-theme="sunset"] {
      @import "_prism-dark.scss";
    }
  }
}

img {
  display: block;
}
